h1{
  font: 15px Georgia bold;
  background-color: black;
  color: white;
  float: left;
}

h2{
  font: 12px arial;
  border: 2px solid coral;
}

#personal_tag{
  font: bold;
  background-color: blue;
  color: white;
}

#personal_info{
  font: underline;
  color: blue;
}

personal_highlight{
  font-style: italic;
  color: green;
}
